footer {
  padding: 5px;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: right;

    .imagenes_footer {
      margin-top: 20px;
      margin-right: 15px;
      img {
        width: 50px;
      }
    }
  }