main {

    color: black;
    text-align: center;
    min-height: 100%; /* Ajustar la altura al 100% de la altura del elemento padre */
    padding-bottom: 50px;


    .banner {

        max-width: 100%;
        height: auto;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {

            width: 1000px;
            height: auto;
  

        }

    }

    .productos {
        display: flex;
        justify-content: center;
        align-items: center;

        
    }

    .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .img-responsive {
            max-width: 100%;
            height: auto;
            transition: 0.5s;
            
          }

          .img-responsive:hover {
            transform: scale(1.2);
          }

    }

    .main_formulario {

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button[type="submit"] {
                transition: 0.5s;
                display: block;
                margin: 0 auto;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: black;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
              }
              
              button[type="submit"]:hover {
                background-color: white;
                color: black;
                font-weight: bold;
                border: solid 1px black;
              } 
        }

    }

    .foto {
        margin-top: 30px;
        border-radius: 45%;
    }

    .acerca {
        text-align: center;
        margin: 50px;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

}